name: Simple BOT GITHUB WORKFLOW

on:
  push:
    branches:
      - "main"

jobs:
  create_commit:
    runs-on: ubuntu-latest 
    permissions:
      issues: write 
    steps:
      - name: Create issue using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_."
            }' \
          --fail

  add_random_file:
    name: Add Random file to the repo
    runs-on: ubuntu-latest
    steps:
      - run: |
          pwd
          ls -a
          git init
          git remote add origin "https://$GITHUB_ACTOR:${{secrets.GITHUB_TOKEN}}@github.com/$GITHUB_REPOSITORY.git"
          git config --global user.email "my-bot@bot.com"
          git config --global user.name "BOT"
          git fetch 
          git checkout main
          git branch --set-upstream-to=origin/main
          git pull
          ls --data
          echo $RANDOM >> random.txt
          ls -a
          git add -a
          git commit -m "Added random file"
          git push

    