name: Secure ENV
on:
    push:
        branches:
            - secure

jobs:
    simple_logger:
        name: "Simple Logger"
        runs-on: ubuntu-latest
        steps:
            - name: "Log Github Context"
              env:
                  GITHUB_CONTEXT: ${{ toJSON(github) }}
              run: echo $GITHUB_CONTEXT

    decrypt_secret_files:
        name: Decrypt Secret File
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Decrypt File
              env:
                  PASSPHARASE: ${{secrets.PASSPHARASE}}

              run: |
                  gpg --quiet --batch --yes --decrypt          --passphrase="$PASSPHARASE" \
                  --output $HOME/secret.json secret.json.gpg
            - name: Print our file content
              run: cat $HOME/secret.json
