name: Secure ENV
on:
    push:
        branches:
            - secure

jobs:
    simple_logger:
        name: "Simple Logger"
        runs-on: ubuntu-latest
        steps:
            - run: echo "Started..."

    decrypt_secret_files:
        name: Decrypt Secret File
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Decrypt File
              env:
                  PASSPHARASE: ${{secrets.PASSPHARASE}}

              run: echo "pass:$PASSPHARASE"

            # - name: Print our file content
            #   run: cat $HOME/secret.json
