name: Simple Workflow

on:
    push:
      branches:
        - main
jobs:
    run-shell-command:
      name: "Simple shell command"
      runs-on: ubuntu-latest
      steps:
        - name: log a string
          run: eccho "Hello world"
        
        - name: multiline script
          run: |
            node -v
            npm -v


