name: Simple Workflow

on:
    push:
      branches:
        - main
jobs:
    run-shell-command:
      name: "Simple shell command"
      runs-on: ubuntu-latest
      steps:
        - name: log a string
          run: echo "Hello world"
        
        - name: multiline script
          run: |
            node -v
            npm -v

        - name: python command
          run: |
            import platform
            print(platform.processor())
          shell: python

    run-windows-command:
      name: "Windows command"
      runs-on: windows-latest
      needs: [run-shell-command]
      steps:
        - name: Directory powershell
          run: Get-Location
        - name: Directory Bash
          run: pwd
          shell: bash

